@tailwind base;
@tailwind components;
@tailwind utilities;


.label {
    position: absolute;
    top: 17px;
    left: 1.25rem;
    font-size: 20px;
    font-weight: 600;
    color: black;
    transition: all 0.3s;
    pointer-events: none;
  }
  
.input-field:focus + .label,
.input-field.label {
    top: -35px;
    left: 5px;
    font-size: 20px;
    color: white;
  }
  